
html, body {
  height: 100%;
  margin: 0;
  background-color: #000000
}

button {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid #ffffff;

}

.App {
  text-align: center;
  background-color: #000000;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ffffff
}

.sortButton {
    background-color: #000000;
    color: #afafaf;
    border: none;
    /* border-radius: 12%; */
   /* border-left-radius: 50%;
    border-right-radiu: 50%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;*/
    margin: 1em;

}

.sortButton:focus {
  outline: none;
  color: #ffffff;
}

.App header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  top: 0;
  background-color: #000000;
  z-index: 1000;
}

.ControlBar {
  position: sticky;
  z-index: 100;
  bottom: 0;
  background-color: #000000;
  padding-top: 2em;
}

.App ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.App li{
  display: inline-block;
  margin: 20px;
}

.App a{
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;;
}

.Playlists {
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 178px); /* 2 */
  grid-gap: 10px; /* 3 */
  justify-content: center; /* 4 */
}

.Playlist {
  background-color: #000000;

  padding: 5px;
  margin: 5px;
  font-size: 20px;
}

.Playlist:hover,
.Playlist:active {
    background-color: #bab2b5;
}

.Playlist-name {
  overflow-wrap: break-word;
  color: #ffffff;
}

.Playlist > img {
  background-color: #f1f1f1;
}

.FullPlaylist {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.tech-slideshow {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow>td {
  height: 200px;
  width: 256px;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
  animation: moveSlideshow 14s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-140.6666%);
  }
}
